Repository Studio-Yandex-Practicum/lubimovka_frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

Update donation-link.module.css
  src/components/donation-link/donation-link.module.css
Due: stylelint

Update donation-link.tsx
  src/components/donation-link/donation-link.tsx
Due: eslint

Update overview.tsx
  src/components/author-page/overview/overview.tsx
Due: eslint

Feature/issue 561/fix cursor for non links (#565)
  src/components/history-page/title/history-title-card.tsx
  src/components/history-page/title/history-title.module.css
Due: eslint, stylelint

feat: Добавление поля performanceId в маппер FestivalEvent
  src/core/schedule/types.ts
  src/services/api/schedule-adapter.ts
Due: eslint

feat: Добавление поля aboutUrl в FestivalEventCard
  src/components/festival-event-card/festival-event-card.tsx
  src/components/festival-schedule/festival-schedule.tsx
Due: eslint

feat: Добавление css свойст для селектора actions
  src/components/festival-event-card/festival-event-card.module.css
Due: stylelint

feat: Добавление поля actionText в маппер FestivalEvent
  src/core/schedule/types.ts
  src/services/api/schedule-adapter.ts
Due: eslint

feat: Добавление поля actionText в FestivalEventCard
  src/components/festival-event-card/festival-event-card.tsx
  src/components/festival-schedule/festival-schedule.tsx
Due: eslint

Add-volunteers-dto
  src/services/api/settings-adapter.ts
Due: eslint

Update getServerSideProps [year].tsx
  src/pages/history/[year].tsx
Due: eslint

fix [year].tsx
  src/pages/history/[year].tsx
Due: eslint

Update main-layout-feed.module.css
  src/components/main-layout/feed/main-layout-feed.module.css
Due: stylelint

fix: удаление из адаптера полуения списка новостей проверку в поле мясяц
  src/services/api/news-adapter.ts
Due: eslint

fix: изменение работы списков у селектов новостей
  src/pages/news/news.tsx
Due: eslint

feat: Добавление поля descriptionCaption в маппер ProjectDetailed
  src/core/project/types.ts
  src/services/api/projects.ts
Due: eslint

fix: Замена статической записи на пропс descriptionCaption в ProjectLayoutDescription
  src/__generated__/api-typings/models/Project.ts
  src/components/project-layout/description/project-layout-description.tsx
  src/pages/projects/[id].tsx
Due: eslint

fix slider dots
  src/components/ui/image-slider/image-slider.tsx
Due: eslint

Update settings-adapter.ts
  src/services/api/settings-adapter.ts
Due: eslint

Update index.tsx
  src/pages/about-us/team/index.tsx
Due: eslint

Update index.tsx
  src/pages/about-us/sponsors/index.tsx
Due: eslint

Update [year].tsx
  src/pages/history/[year].tsx
Due: eslint

Update contacts.tsx
  src/pages/contacts/contacts.tsx
Due: eslint

Исправление падения сайта в браузерах без поддержки ScreenOrientation
  src/components/app-layout/app-layout.tsx
Due: eslint

Вынесение проверки ориентации устройства в хук
  src/components/app-layout/app-layout.tsx
  src/shared/hooks/use-orientation.ts
Due: eslint

Update navbar.module.css
  src/components/navbar/navbar.module.css
Due: stylelint

Удаление дублирующей реализации хука для наблюдения за изменением пересечения элементов
  src/components/main-header/main-header.tsx
  src/shared/hooks/use-intersection-observer.ts
Due: eslint

Добавление полифила IntersectionObserver
  src/shared/hooks/use-intersection.ts
Due: eslint

Добавление зависимости от intersection-observer
  package-lock.json
  package.json
Due: none

Исправление обработки ошибок API
  src/pages/[author].tsx
  src/pages/blog/[id].tsx
  src/pages/history/[year].tsx
  src/pages/news/[id].tsx
  src/pages/performances/[id].tsx
Due: eslint

Автоматические правки Stylelint
  src/components/donation-link/donation-link.module.css
  src/components/main-layout/feed/main-layout-feed.module.css
  src/components/navbar/navbar.module.css
Due: stylelint

Удаление лишнего комментария
  src/pages/history/[year].tsx
Due: eslint

fix: исправление вертикального отступа в селекторе timeZone
  src/components/event-card/event-card.module.css
  src/components/festival-event-card/festival-event-card.module.css
Due: stylelint

feat: добавление часового пояса в компонент performance-event-list-item
  src/components/performance-event-list/item/performance-event-list-item.module.css
  src/components/performance-event-list/item/performance-event-list-item.tsx
Due: eslint, stylelint

Исправление отображения страницы проекта #591
  src/pages/projects/[id].tsx
Due: eslint

Рефакторинг компонента рендеринга блоков конструктора
  src/components/constructor-content/constructor-content.tsx
  src/components/constructor-content/constructor-content.utils/index.ts
Due: eslint

Добавление блока конструктора для встраивания внешнего контента
  src/components/constructor-content/constructor-content.const.ts
  src/components/constructor-content/constructor-content.tsx
  src/components/constructor-content/section/constructor-content-section.tsx
  src/components/constructor-content/variant/default.module.css
  src/components/embed-code/embed-code.tsx
  src/components/embed-code/index.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.css
