Repository Studio-Yandex-Practicum/lubimovka_frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

feat: Исключение ссылки Исторя с хэдера
  src/shared/constants/main-navigation-items.ts
Due: eslint

feat: Добавление ссылки История в блок О фестивале
  src/services/api/settings-adapter.ts
  src/shared/constants/about-us-navigation-items.ts
Due: eslint

fix: исправление фильтра по месяцам
  package-lock.json
  src/components/ui/select/select.tsx
  src/pages/blog/blog.tsx
  src/pages/news/news.tsx
  src/pages/press-releases/[year].tsx
Due: eslint

init
  package-lock.json
  package.json
Due: none

Обновление msw и перегенерация lock-файла
  e2e/smoke.spec.ts
  next.config.js
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/mocks/browser.ts
  src/mocks/data/events.ts
  src/mocks/handlers.ts
  src/mocks/handlers/events.ts
  src/mocks/handlers/index.ts
  src/mocks/index.ts
  tsconfig.json
Due: eslint

Обновление README
  README.md
Due: none

Исправление горизонтальной прокрутки на мобильных на главной
  src/components/main-layout/feed/main-layout-feed.module.css
Due: stylelint

Исправление пагинации на странице библиотеки
  src/components/festival-schedule/festival-schedule.tsx
  src/components/infinite-scroll-trigger/index.ts
  src/components/infinite-scroll-trigger/infinite-scroll-trigger.module.css
  src/components/infinite-scroll-trigger/infinite-scroll-trigger.tsx
  src/components/pagination-sentinel/index.ts
  src/components/pagination-sentinel/pagination-sentinel.tsx
  src/pages/blog/blog.tsx
  src/pages/library/index.tsx
  src/pages/news/news.tsx
  src/shared/hooks/use-boolean.ts
  src/shared/hooks/use-in-viewport.ts
Due: eslint, stylelint

Правка пайплайна CI/CD
  .github/workflows/node.js.yaml
Due: none

Удаление веб-манифеста
  public/icon-192.png
  public/icon-512.png
  public/manifest.webmanifest
  src/components/seo/seo.tsx
Due: eslint

Переход на Node.js v20 (LTS)
  .github/workflows/node.js.yaml
  README.md
  config/docker/Dockerfile
Due: none

Обновление playwright
  package-lock.json
  package.json
Due: none

Исправление Makefile
  Makefile
  config/docker/development/docker-compose.yml
Due: none

Исправление типов компонента кнопки
  src/components/ui/button/button.tsx
Due: eslint

Удаление cypress
  config/docker/Dockerfile
  cypress.config.ts
  cypress/e2e/city-input.cy.ts
  cypress/e2e/email-input.cy.ts
  cypress/e2e/first-name-input.cy.ts
  cypress/e2e/last-name-input.cy.ts
  cypress/e2e/phone-input.cy.ts
  cypress/e2e/title-input.cy.ts
  cypress/e2e/year-birth-input.cy.ts
  cypress/e2e/year-play-input.cy.ts
  cypress/fixtures/test-constants.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.css
