Repository Studio-Yandex-Practicum/lubimovka_frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-push:
  commands:
    type-check:
      run: npm run type-check

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    stylelint:
      glob: "*.css"
      run: npx stylelint {staged_files}

update CI
  .github/workflows/docker-publish-production.yaml
Due: none

Исправлен показ статистики, исправлена логика ссылок, оптимизирован компонент
  src/components/history-page/title/history-title-card.tsx
  src/components/history-page/title/history-title-link.tsx
  src/components/history-page/title/history-title.tsx
Due: eslint

Исправлено поведение внешних ссылок
  src/components/share-links/share-links.tsx
Due: eslint

Исправлено поведение внешних ссылок (#514)
  src/components/share-links/share-links.tsx
Due: eslint

Исправлен показ статистики, исправлена логика ссылок, оптимизирован компонент (#513)
  src/components/history-page/title/history-title-card.tsx
  src/components/history-page/title/history-title-link.tsx
  src/components/history-page/title/history-title.tsx
Due: eslint

Настроен показ компонентов Попечителей и Организаторов в зависимости от настроек, настроена сортировка
  .env
  src/components/about-us-layout/about-us-layout.tsx
  src/components/persons-list/persons-list.tsx
  src/core/settings/types.ts
  src/pages/about-us/sponsors/index.tsx
  src/pages/about-us/team/index.tsx
  src/services/api/settings-adapter.ts
  src/shared/constants/about-us-navigation-items.ts
Due: eslint

fix slider dots
  package-lock.json
  src/components/ui/image-slider/image-slider.tsx
Due: eslint

fix adaptive
  src/components/main-header/main-header.module.css
Due: stylelint

fix adaptive (#517)
  src/components/main-header/main-header.module.css
Due: stylelint

Исправлена повторная отправка сообщений на странице Контакты
  src/pages/contacts/contacts.tsx
Due: eslint

Исправлен переход с главной страницы на главную страницу при клике на логотип
  src/components/logotype/logotype.module.css
  src/components/logotype/logotype.tsx
Due: eslint, stylelint

Исправлен переход с главной страницы на главную страницу при клике на логотип (#519)
  src/components/logotype/logotype.module.css
  src/components/logotype/logotype.tsx
Due: eslint, stylelint

Исправлена повторная отправка сообщений на странице Контакты (#518)
  src/pages/contacts/contacts.tsx
Due: eslint

Настроен показ компонентов Попечителей и Организаторов в зависимости от настроек, настроена сортировка (#515)
  .env
  src/components/about-us-layout/about-us-layout.tsx
  src/components/persons-list/persons-list.tsx
  src/core/settings/types.ts
  src/pages/about-us/sponsors/index.tsx
  src/pages/about-us/team/index.tsx
  src/services/api/settings-adapter.ts
  src/shared/constants/about-us-navigation-items.ts
Due: eslint

Исправить верстку ссылок на пьесы в Истории
  src/components/history-page/title/history-title.module.css
Due: stylelint

На странице автора настроить функционал показа email и генерации ссылки при клике
  src/components/author-email/author-email.module.css
  src/components/author-email/author-email.tsx
  src/components/author-email/index.ts
  src/components/author-page/overview/overview.module.css
  src/components/author-page/overview/overview.tsx
Due: eslint, stylelint

Исправлен переход на главную страницу с главной страницы при клике на логотип в футере
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
Due: eslint, stylelint

Настроен функционал сортировки статей за месяц без выбора года
  src/pages/blog/blog.tsx
  src/services/api/blog-adapter.ts
Due: eslint

Удалить визуальное обрамление при тапе на заголовки с ссылками и кнопки на мобильных устройствах
  src/shared/styles/global.css
Due: stylelint

Исправить верстку ссылок на пьесы в Истории (#520)
  src/components/history-page/title/history-title.module.css
Due: stylelint

Исправлен переход на главную страницу с главной страницы при клике на логотип в футере (#522)
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
Due: eslint, stylelint

Удалить визуальное обрамление при тапе на заголовки с ссылками и кнопки на мобильных устройствах (#524)
  src/shared/styles/global.css
Due: stylelint

Настроен функционал сортировки статей за месяц без выбора года (#523)
  src/pages/blog/blog.tsx
  src/services/api/blog-adapter.ts
Due: eslint

Исправить анимированное подчеркивание ссылок в футере секция проекты
  src/components/ui/menu/type/footer-project-list.module.css
Due: stylelint

Убрать кнопку Подать пьесу на странице 404
  src/components/404/NotFoundError.tsx
Due: eslint

Сделать плитку ссылки на YouTube на 1 шаблонное место
  src/components/app-layout/app-layout.tsx
  src/shared/constants/social-link-items.ts
Due: eslint

fix validation
  src/pages/form/form.tsx
Due: eslint

Добавить появление ошибки о превышении длины поля Email на странице Контакты
  src/pages/contacts/contacts.tsx
Due: eslint

Добавить настройку, чтобы соцсети загружались в новой вкладке браузера
  src/components/app-layout/app-layout.tsx
  src/components/ui/menu/item/menu-item.tsx
Due: eslint

Исправить текст в разделе О фестивале - Попечители
  src/pages/about-us/sponsors/index.tsx
Due: eslint

Исправить текст в разделе О фестивале - Попечители (#531)
  src/pages/about-us/sponsors/index.tsx
Due: eslint

Валидация формы подачи пьесы (#528)
  src/pages/form/form.tsx
Due: eslint

Добавить появление ошибки о превышении длины поля Email на странице Контакты (#529)
  src/pages/contacts/contacts.tsx
Due: eslint

Сделать плитку ссылки на YouTube на 1 шаблонное место (#527)
  src/components/app-layout/app-layout.tsx
  src/shared/constants/social-link-items.ts
Due: eslint

Исправить анимированное подчеркивание ссылок в футере секция проекты (#525)
  src/components/ui/menu/type/footer-project-list.module.css
Due: stylelint

Убрать кнопку Подать пьесу на странице 404 (#526)
  src/components/404/NotFoundError.tsx
Due: eslint

Настроить осуществление перехода к соцсетям в новой вкладке
  src/components/ui/menu/item/menu-item.tsx
Due: eslint

Исправить верстку (div внутри p) на странице О фестивале раздел Контакты
  src/components/what-we-do-page/contacts/what-we-do-contacts.tsx
Due: eslint
